<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-button size="small" shape="round" (click)="favorite(restaurant)">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" (click)="share()">
          <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <span class="card-img-status fw500 text-white"
    [ngClass]="{'closed': restaurant.label === 'closed', 'open': restaurant.label === 'open'}">
    {{ restaurant.label }}
  </span> -->

  <ion-slides pager="true" margin-bottom>
    <!-- <ion-slide *ngFor="let image of restaurant.images" (click)="presentImage(image)">
      <img [src]="image">
      <div class="shadow"></div>
    </ion-slide> -->
    <ion-slide>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/0f/d3/33/photo5jpg.jpg">
      <div class="shadow"></div>
    </ion-slide>
  </ion-slides>

  <ion-card class="bg-white">
    <ion-card-content>
      <h1 class="fw700" text-center>
        <!-- <ion-text color="dark">{{restaurant.title}}</ion-text> -->
        <ion-text color="dark">Unidade Praia do Morro</ion-text>

      </h1>
      <!-- <p text-center>
        <ion-text color="primary">1 mile<sup>sq</sup> • 30 - 60min • {{restaurant.price}}</ion-text>
      </p> -->

      <div text-center>
        <!-- <ion-chip color="secondary" outline="true">
          <ion-icon name="book" color="secondary"></ion-icon>
          <ion-label>{{restaurant.tags}}</ion-label>
        </ion-chip> -->

        <!-- <ion-chip color="dark" outline="true">
          <ion-icon name="star"></ion-icon>
          <ion-label>{{ restaurant.rating | number:'1.1' }}</ion-label>
        </ion-chip> -->
      </div>
    </ion-card-content>
  </ion-card>

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col>
        <ion-segment color="primary" [(ngModel)]="restaurantopts" padding-horizontal>
          <ion-segment-button value="hamburger">

            <img width="50px" height="50px" src="assets/img/menu-tabs/hamburger.svg">

          </ion-segment-button>
          <ion-segment-button value="pizza">

            <img width="50px" height="50px" src="assets/img/menu-tabs/pizza-slice.svg">

          </ion-segment-button>
          <ion-segment-button value="bebidas">

            <img width="50px" height="50px" src="assets/img/menu-tabs/beverages.svg">

          </ion-segment-button>

          <ion-segment-button value="sobremesas">

            <img width="50px" height="50px" src="assets/img/menu-tabs/cake.svg">

          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="restaurantopts" padding *ngIf="items">

          <div *ngSwitchCase="'hamburger'">
            <ion-card class="bg-white" no-margin>
              <ion-card-content no-padding>
                <div *ngFor="let dish of items">
                  <ion-item lines="none" tappable routerLink="/dish-detail/{{dish.id}}" *ngIf="dish.id_categoria === 1">
                    <ion-avatar slot="start">
                      <img [src]="dish.images_upload.nome_image">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="fw700 text08">
                        <ion-text color="dark">{{dish.nome}}</ion-text>
                      </h2>
                      <p>
                        <ion-text color="primary">{{ dish.descricao }}</ion-text>
                      </p>
                    </ion-label>
                    <span [ngClass]="dish.valor_oferta > 0 ? 'bg-oferta' : 'bg-valor'">
                      <ion-text>{{ dish.valor | currency : 'BRL' }}</ion-text>
                    </span>

                    <span class="bg-valor" *ngIf="dish.valor_oferta > 0">
                      <ion-text>{{ dish.valor_oferta | currency : 'BRL' }}</ion-text>
                    </span>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
            <br><br><br><br>
          </div>

          <div *ngSwitchCase="'pizza'">
            <ion-card class="bg-white" no-margin>
              <ion-card-content no-padding>
                <div *ngFor="let dish of items">
                  <ion-item lines="none" tappable routerLink="/dish-detail/{{dish.id}}" *ngIf="dish.id_categoria === 2">
                    <ion-avatar slot="start">
                      <img [src]="dish.images_upload.nome_image">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="fw700 text08">
                        <ion-text color="dark">{{dish.nome}}</ion-text>
                      </h2>
                      <p>
                        <ion-text color="primary">{{ dish.descricao }}</ion-text>
                      </p>
                    </ion-label>
                    <span [ngClass]="dish.valor_oferta > 0 ? 'bg-oferta' : 'bg-valor'">
                      <ion-text>{{ dish.valor | currency : 'BRL' }}</ion-text>
                    </span>

                    <span class="bg-valor" *ngIf="dish.valor_oferta > 0">
                      <ion-text>{{ dish.valor_oferta | currency : 'BRL' }}</ion-text>
                    </span>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
            <br><br><br><br>
          </div>

          <div *ngSwitchCase="'bebidas'">
            <ion-card class="bg-white" no-margin>
              <ion-card-content no-padding>
                <div *ngFor="let dish of items">
                  <ion-item lines="none" tappable routerLink="/dish-detail/{{dish.id}}" *ngIf="dish.id_categoria === 3">
                    <ion-avatar slot="start">
                      <img [src]="dish.images_upload.nome_image">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="fw700 text08">
                        <ion-text color="dark">{{dish.nome}}</ion-text>
                      </h2>
                      <p>
                        <ion-text color="primary">{{ dish.descricao }}</ion-text>
                      </p>
                    </ion-label>
                    <span [ngClass]="dish.valor_oferta > 0 ? 'bg-oferta' : 'bg-valor'">
                      <ion-text>{{ dish.valor | currency : 'BRL' }}</ion-text>
                    </span>

                    <span class="bg-valor" *ngIf="dish.valor_oferta > 0">
                      <ion-text>{{ dish.valor_oferta | currency : 'BRL' }}</ion-text>
                    </span>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
            <br><br><br><br>
          </div>

          <div *ngSwitchCase="'sobremesas'">
            <ion-card class="bg-white" no-margin>
              <ion-card-content no-padding>
                <div *ngFor="let dish of items">
                  <ion-item lines="none" tappable routerLink="/dish-detail/{{dish.id}}" *ngIf="dish.id_categoria === 4">
                    <ion-avatar slot="start">
                      <img [src]="dish.images_upload.nome_image">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="fw700 text08">
                        <ion-text color="dark">{{dish.nome}}</ion-text>
                      </h2>
                      <p>
                        <ion-text color="primary">{{ dish.descricao }}</ion-text>
                      </p>
                    </ion-label>
                    <span [ngClass]="dish.valor_oferta > 0 ? 'bg-oferta' : 'bg-valor'">
                      <ion-text>{{ dish.valor | currency : 'BRL' }}</ion-text>
                    </span>

                    <span class="bg-valor" *ngIf="dish.valor_oferta > 0">
                      <ion-text>{{ dish.valor_oferta | currency : 'BRL' }}</ion-text>
                    </span>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
            <br><br><br><br>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" (click)="openCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>