:host {
    ion-content {
        --background: var(--ion-color-dark);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    
}

.ccFlags {
    img {
      max-width: 32px;
      display: inline;
    }
  }
  
  ion-select {
      max-width: 100%;
  }
  .btn-pay{
      display: flex;
      justify-content: center;
      align-items: center;
      width:95%;
      height:50px;
      border-radius: 4px;
      outline:none;
      border:none;
      color:#fff;
      margin:5px;
  }
  .bg-unselected{
      background: #FFC280!important;
  }
  .bg-selected{
      background: #FF8400!important;
  }
  .input-bg-light{
      background: #f0f0e6!important;
      color:#777!important;
  }
  .bg-light{
    background: #f0f0e6!important;
  }
  .align-address{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      span{
          margin:5px;
          font-size:19px;
      }
      span:nth-child(2){
          text-transform: uppercase;
      }
  }